html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: ‘Courier New’, Courier, monospace;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
}

a{
  color: #2980b9;
}

.wrap{
  padding: 2rem;
}
.box{
  float: left;
  width: 50%;
}

input[type="url"],
input[type="submit"]{
  vertical-align: top;
  display: inline-block;
  height: 4rem;
  font-size: 1.6rem;
  font-family: ‘Courier New’, Courier, monospace;
  padding: 0 .6rem;
  border: .1rem solid #666;
}

input[type="submit"]{
  background: #3498db;
  border: none;
  color: #fff;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
  background: #2980b9;
}